/* Restart the style */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Variable */
:root{
    --main-theme: #240750;
    --secondary-color: #57A6A1;
    --spare-color: #577B8D;
    --main-font: "Ubuntu", sans-seri;
}

/* Layout */
body {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 85%;
    height: 70%;
}

section.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 10%;
}
button {
    height: 100%;
    width: 10%;
}

section.colors {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-auto-rows: 1fr;
    gap: 30px;
    align-items: center;

    width: 100%;
    height: 80%;
}

.color {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 70%;
}

/* Typography */
html {
    font-family: var(--main-font);
    font-size: 16px
}
button,h3,div {
    font-size: 1.5rem;
    font-weight: bold;
}
button,div {
    color: var(--main-theme); 
}
h3 {
    color: var(--secondary-color);
}

/* Style */
body {
    background-color: var(--main-theme);
}

button {
    border: none;
    background-color: var(--secondary-color);
    border-radius: 15px;

    cursor: pointer;
}

.color {
    border-radius: 15px;
}

h3 {
    cursor: not-allowed;
}
